asn1crypto==0.24.0
cffi==1.11.5
cryptography==2.1.4
Django==2.0.2
django-cors-headers==2.2.0
django-webpack-loader==0.6.0
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
ecdsa==0.13
future==0.16.0
idna==2.6
pkg-resources==0.0.0
pycparser==2.18
pycryptodome==3.4.11
PyJWT==1.6.0
python-jose==2.0.2
pytz==2018.3
six==1.11.0
